---
import Base from '../../layouts/Base.astro'
import { useTranslations, getLangFromUrl } from './../../i18n/utils';

export function getStaticPaths() {
  return [
    {params: {lang: 'en'}},
    {params: {lang: 'jp'}},
  ];
}

const {lang: currentLang} = Astro.params;
const t = useTranslations(currentLang);
---

<Base>
  <h1><Fragment set:html={t("util.hello")}/></h1>
</Base>