---
import Home from '../../layouts/Home.astro'
import { useTranslations } from './../../i18n/utils';

export function getStaticPaths() {
  return [
    {params: {lang: 'en'}},
    {params: {lang: 'jp'}},
  ];
}

const {lang: currentLang} = Astro.params;
const t = useTranslations(currentLang);
---

<Home>
  <main class="content">
  </main>
</Home>

<style lang="scss">
  .content {
    padding: 0 2rem;
  }
</style>