@forward 'variables';
@forward 'mixins';
@forward 'base';

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
}

@font-face {
  font-family: 'NikuMaru';
  src: 
    local('NikuMaru'),
    url('/fonts/NikuMaru.otf') format('opentype'), 
    url('/fonts/NikuMaru.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}